body
{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-color:#f2fbff;
    max-width: 1300px;
    margin:auto;
}
/*Header*/
.header
{
    background-color: #0D71A3;
    display: flex;
    flex-direction: column;
}
.top-bar
{
    display: flex;
    justify-content: space-between;
}
.top-bar img
{
    width: 120px;
    height: 70px;
}
.top-bar input
{
    width: 320px;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    padding-left: 40px;
}
.search
{
    position: relative;
}
.input-left
{
    position: absolute;
    left: 10px;
    top:50%;
    transform: translateY(-50%);
}
.header-right
{
    display: flex;
    gap:20px;
    margin-top: 20px;
    margin-right: 30px;
}
.header-right i
{
    color: white;
}
.header-right a
{
    text-decoration: none;
    color: white;
}
.cart i,.cart a
{
    color: rgb(226, 198, 198);
}
/*Content*/
.content
{
    height: 500px;
}
.title
{
    display: flex;
    justify-content: space-between;
}
.title-cart
{
    display: flex;
    align-items: center;
    gap:10px;
    margin-left: 30px;
}
.title-edit
{
     display: flex;
    align-items: center;
    gap:10px;
    margin-right: 30px;
}
/*cart-item*/
.menu ul
{
    display: flex;
    justify-content: space-evenly;
}
.menu ul li
{
    list-style: none;
    font-size: large;
}
hr
{
    width: 90%;
}

.cart-item
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.cart-item img
{
    width: 100px;
    height: 100px;
}
.cart-product
{
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 150px;
    width: 90%;
    background-color: rgb(240, 239, 239);
    border-radius: 20px;
}
.quantity input
{
    width: 15px;
}
.cart-product h3
{
    width:150px;
}
.check-title
{
    display: flex;
    gap:20px;
}
/*footer*/
.footer
{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
.button-delete
{
    width: 80px;
    height: 30px;
    border-radius: 7px;
    border-width: 1px;
}
.button-pay
{
    width: 120px;
    height: 30px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 7px;
}