body
{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-color:#f2fbff;
    max-width: 1300px;
    margin:auto;
}
/*Header*/
.header
{
    background-color: #0D71A3;
    display: flex;
    flex-direction: column;
}
.top-bar
{
    display: flex;
    justify-content: space-between;
}
.top-bar img
{
    width: 120px;
    height: 70px;
}
.top-bar input
{
    width: 320px;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    padding-left: 40px;
}
.search
{
    position: relative;
}
.input-left
{
    position: absolute;
    left: 10px;
    top:50%;
    transform: translateY(-50%);
}
.header-right
{
    display: flex;
    gap:20px;
    margin-top: 20px;
    margin-right: 30px;
}
.header-right i
{
    color: white;
}
.header-right a
{
    text-decoration: none;
    color: white;
}

.main-nav ul
{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.main-nav ul li
{
    display: flex;
    align-items: center;
    gap: 5px;
}
.main-nav ul li a
{
    text-decoration: none;
    color: white;
}
.main-nav img
{
    width: 35px;
    height: 35px;
    object-fit: contain;
}
/*Content*/
.content
{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;     
  line-height: 0.5; 
}
.content img 
{ 
  width: 100%;
  height: 350px;
  border-radius: 15px;
  margin-top: 15px;
}
.content h3,.content p 
{
  text-align: left;
  margin-left: 10px;
}

.product img
{
    width: 300px;
    height: 200px;
}
.product
{
    display: flex;
    justify-content: space-around;
}
.card-product
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-product button a
{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.card-product button
{
    border: none;
    background-color: red;
    width: 100px;
    height: 25px;
    border-radius: 7px;
}
.card-product h4
{
    margin-bottom: 5px;
}
/*Footer*/
.footer
{
    margin-top: 20px;
    background-color: #0D71A3;
    color: white;
    display: flex;
    justify-content: space-around;
}
.footer-left h2
{
    margin-bottom: 0;
}
.footer-policy
{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.footer-policy a
{
    text-decoration: none;
    color: white;
}
.footer-policy h4
{
    margin-bottom: 5px;
}
.contact-phone,.contact-gmail
{
    display: flex;
    align-items: center;
    gap:5px;
}
.footer-contact
{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.footer-contact p, .footer-contact h4 {
    margin: 0;
    line-height: 1.2;
}
