body
{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-color:#f2fbff;
    max-width: 1300px;
    margin:auto;
}
/*Header*/
.header
{
    background-color: #0D71A3;
    display: flex;
    flex-direction: column;
}
.top-bar
{
    display: flex;
    justify-content: space-between;
}
.top-bar img
{
    width: 120px;
    height: 70px;
}
.top-bar input
{
    width: 320px;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    padding-left: 40px;
}
.search
{
    position: relative;
}
.input-left
{
    position: absolute;
    left: 10px;
    top:50%;
    transform: translateY(-50%);
}
.header-right
{
    display: flex;
    gap:20px;
    margin-top: 20px;
    margin-right: 30px;
}
.header-right i
{
    color: white;
}
.header-right a
{
    text-decoration: none;
    color: white;
}
/*content*/
/*footer*/