body
{
    font-family: Arial, Helvetica, sans-serif;
}

.container
{
    background-color:#f2fbff;
    max-width: 1300px;
    min-height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Logo*/
.logo
{
    flex:1.2;
    background-color: #0E5D8C;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    min-height: 700px;
}
.logo img
{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}
.logo h1
{
    font-size: 25px;
    margin-bottom: 5px;
}
/*login*/
.login
{
    flex: 0.8;
    padding:20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login h1
{
    font-size: 25px;
    color:#0D71A3;
    margin-bottom: 10px;
}
.login h4
{
    font-weight: bold;
    margin-bottom: 7px;
}
.login input
{
    width: 300px;
    height: 30px;
    margin-bottom: 5px;
    border-radius: 6px;
    border: 1px solid #030202;
    padding-left: 30px;
}
.login button
{
    background-color: #0D71A3;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin-top: 15px;
}
.login button a
{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.login input, .login button {
    display: block; 
}
/*icon trong input*/
.input-group
{
    position: relative;
}
.input-group i
{
    position: absolute;
    left: 10px;
    top:50%;
    transform: translateY(-50%);
}